{% extends 'base.html' %}
{% load static %}
{% block title %}ログイン{% endblock title %}
{% block h1 %}ログイン画面{% endblock h1 %}
{% block content %}
    <form action="{% url 'login'%}" method="post" class="justify-content-center">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="hidden" name="next" value="{{next}}"></p>
        <p><input type="submit" value="ログイン" class="btn btn-light btn-outline-dark"></p>
    </form>
    <a href="{% url 'signup'%}" class="btn btn-success">ユーザー登録</a>
{% endblock content %}




  
